Repository irdyansages/Saga_of_James, changes with the owners that .github/CODEOWNERS names for each.
All owners: @irdyansages/project-management, @irdyansages/release-managers-saga-of-james, @konecnyjakub, @irdyansages/translations-masters, @irdyansages/wml-wizards, @irdyansages/lore-masters, @irdyansages/map-makers

.github/CODEOWNERS:

# Project Management
/.github/               @irdyansages/project-management
/README.md              @irdyansages/project-management
/COPYING.txt            @irdyansages/project-management
.gitignore              @irdyansages/project-management

# Release Management
/_server.pbl.template   @irdyansages/release-managers-saga-of-james
/CHANGELOG.md           @irdyansages/release-managers-saga-of-james
/build.xml              @irdyansages/release-managers-saga-of-james
/dist/                  @irdyansages/release-managers-saga-of-james
/_server.ign            @irdyansages/release-managers-saga-of-james
.gitattributes          @irdyansages/release-managers-saga-of-james

# Continous integeration
/.gitlab-ci.yml         @konecnyjakub

# Translations
/translations/          @irdyansages/translations-masters

# WML
*.cfg                   @irdyansages/wml-wizards
story.cfg               @irdyansages/wml-wizards @irdyansages/lore-masters
deaths.cfg              @irdyansages/wml-wizards @irdyansages/lore-masters
scenarios/              @irdyansages/wml-wizards @irdyansages/lore-masters

# Maps
*.map                   @irdyansages/map-makers

added [campagin] background= for Wesnoth 1.15.9+
  volume1/_main.cfg
Owners: @irdyansages/wml-wizards

added tags for add-on
  _server.pbl.template
Owners: @irdyansages/release-managers-saga-of-james

dropped support for Wesnoth 1.14
  README.md
Owners: @irdyansages/project-management

used [modify_unit_type]
  _main.cfg
  units/human-mages/Abbot.cfg
  units/human-mages/Crusader.cfg
  units/human-mages/Mage_Gold.cfg
  units/wol_undead.cfg
  volume1/_main.cfg
Owners: @irdyansages/wml-wizards

updated project version for translations
  translations/skeleton.pot
  translations/wesnoth-Saga_of_James/cs.po
Owners: @irdyansages/translations-masters

updated Naga unit types in Hostile Waters original unit types were removed from War of Legends because similar one were added to core in 1.15.14
  volume1/scenarios/05_Hostile_Waters.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

updated next_scenario in Return
  volume1/scenarios/07_Return.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

used new system for special notes
  macros/abilities.cfg
  macros/special-notes.cfg
  units/heroes/Elementalist.cfg
  units/heroes/Mage_Elder.cfg
  units/human-mages/Abbot.cfg
  units/human-mages/Crusader.cfg
  units/human-outlaws/guerrilla.cfg
  units/trolls/Mystic.cfg
Owners: @irdyansages/wml-wizards

some fixes for special notes
  macros/abilities.cfg
  translations/skeleton.pot
  translations/wesnoth-Saga_of_James/cs.po
  units/heroes/Celestial_Messenger.cfg
  units/heroes/Elementalist.cfg
  units/heroes/Mystic.cfg
  units/heroes/Woodswoman.cfg
  units/human-mages/Mage_Gold.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/translations-masters

some fixes for special notes
  units/undead/Vampire_Lady.cfg
Owners: @irdyansages/wml-wizards

load Troll units in editor
  _main.cfg
Owners: @irdyansages/wml-wizards

use map_file instead of map_data
  volume1/scenarios/01_A_Raid.cfg
  volume1/scenarios/02_In_the_Woods.cfg
  volume1/scenarios/03_Elves_Wood.cfg
  volume1/scenarios/04_Resistance.cfg
  volume1/scenarios/05_Hostile_Waters.cfg
  volume1/scenarios/06_Freedom.cfg
  volume1/scenarios/07_Return.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

updated some translatable strings, added some words to wmllint's dictionary now it should not report any misspellings in the add-on itself
  _main.cfg
  translations/skeleton.pot
  translations/wesnoth-Saga_of_James/cs.po
  units/heroes/Mystic.cfg
  units/human-mages/Mage_Gold.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/translations-masters

updated Czech translation
  translations/wesnoth-Saga_of_James/cs.po
Owners: @irdyansages/translations-masters

made all partisans loyal the player get quite a lot of them and they are often level 2 or 3 so their upkeep is very high
  volume1/scenarios/04_Resistance.cfg
  volume1/scenarios/06_Freedom.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

updated wesnoth version for pot update
  build.xml
Owners: @irdyansages/release-managers-saga-of-james

ci: test on Wesnoth 1.16
  .gitlab-ci.yml
Owners: @konecnyjakub

do not try to load Bone Knight and Skeleton Rider from War of Legends they have been removed from there since they are now in core
  units/wol_undead.cfg
Owners: @irdyansages/wml-wizards

dropped support for Wesnoth 1.16
  README.md
Owners: @irdyansages/project-management

updated paths for images
  units/heroes/Celestial_Messenger.cfg
  units/heroes/Elementalist.cfg
  units/heroes/Mystic.cfg
  units/heroes/Woodswoman.cfg
  units/human-mages/Abbot.cfg
  units/human-mages/Crusader.cfg
  units/human-mages/Mage_Gold.cfg
  volume1/_main.cfg
  volume1/utils/story.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

updated build.xml
  build.xml
Owners: @irdyansages/release-managers-saga-of-james

updated project version for translations
  translations/skeleton.pot
  translations/wesnoth-Saga_of_James/cs.po
Owners: @irdyansages/translations-masters

renamed translation template wmlxgettext automatically generates a file named like this
  translations/wesnoth-Saga_of_James.pot
Owners: @irdyansages/translations-masters

ran wmlindent
  _main.cfg
  macros/abilities.cfg
  macros/abilities_events.cfg
  macros/misc.cfg
  macros/summoning.cfg
  macros/traits.cfg
  mainline-strings.cfg
  units/heroes/Celestial_Messenger.cfg
  units/heroes/Elementalist.cfg
  units/heroes/Elvish_Avatar.cfg
  units/heroes/Mage_Elder.cfg
  units/heroes/Mystic.cfg
  units/heroes/Woodswoman.cfg
  units/human-mages/Abbot.cfg
  units/human-mages/Crusader.cfg
  units/human-mages/Mage_Gold.cfg
  units/human-outlaws/guerrilla.cfg
  units/monsters/Dragon_Lord.cfg
  units/trolls/Mystic.cfg
  units/undead/Vampire_Lady.cfg
  volume1/_main.cfg
  volume1/scenarios/01_A_Raid.cfg
  volume1/scenarios/02_In_the_Woods.cfg
  volume1/scenarios/03_Elves_Wood.cfg
  volume1/scenarios/04_Resistance.cfg
  volume1/scenarios/05_Hostile_Waters.cfg
  volume1/scenarios/06_Freedom.cfg
  volume1/scenarios/07_Return.cfg
  volume1/utils/deaths.cfg
  volume1/utils/misc.cfg
  volume1/utils/story.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/lore-masters

ci: test on Wesnoth 1.18
  .gitlab-ci.yml
Owners: @konecnyjakub

updated build.xml
  build.xml
Owners: @irdyansages/release-managers-saga-of-james

put quotes around tags in _server.pbl.template
  _server.pbl.template
Owners: @irdyansages/release-managers-saga-of-james

changed spelling of some words
  _main.cfg
  translations/wesnoth-Saga_of_James.pot
  translations/wesnoth-Saga_of_James/cs.po
  units/heroes/Mage_Elder.cfg
  volume1/scenarios/01_A_Raid.cfg
  volume1/scenarios/07_Return.cfg
  volume1/utils/story.cfg
Owners: @irdyansages/wml-wizards, @irdyansages/translations-masters, @irdyansages/lore-masters

do not use template for _server.pbl
  _server.ign
  _server.pbl
Owners: @irdyansages/release-managers-saga-of-james

ci: do not use full path for wmllint
  .gitlab-ci.yml
Owners: @konecnyjakub

removed old special ntoes from Cateline_Celestial_Messenger
  units/heroes/Celestial_Messenger.cfg
Owners: @irdyansages/wml-wizards

cleanup after removing template for _server.pbl
  .gitattributes
  .gitignore
Owners: @irdyansages/release-managers-saga-of-james, @irdyansages/project-management
